// Paleta de Colores
$blanco: #fff;
$negro: #000;

/* ################################## Estilos Generales para todas las paginas #######################################*/

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  rgb(246,109,158);
    background: linear-gradient(0deg, rgba(246,109,158,1) 0%, #ffa7c8 31%, rgba(255,248,251,1) 100%);;
}

/* Estilos de Botstrap corregidos que vienen implementados */

h1{
    font-weight: 600;
}

h2{
    font-weight: 600;
}

li{
    text-align: start;
}

/* Estilos Para los h1 */

.estilos_h1{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    background: linear-gradient(#ff006d, #ffbad4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos de la barra de navegacion */

nav{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    margin: 20px;
    font-weight: 600;
}

nav ul li a:hover{
    border-bottom: 2px solid #000;
    color: #ff006d;
}

nav ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    font-family:  'EB Garamond', serif;
    text-align: end;
    margin: 10px;
}

.contenedor__nombre{
    font-family:  'EB Garamond', serif;
    margin: auto;
    margin-top: -3px;
}

.contenedor__nombre a{
    text-decoration: none;
    background: linear-gradient(#ff006d, #ffbad4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 600;
}

@media (max-width: 768px){
    nav ul li a{
        font-size: 27px;
    }
}
/* Barra de navegacion Ocultar */

.nav-ocultar{
    display: none;
}

@media (max-width: 570px) {
    header{
        display: none;
    }

    .nav-ocultar{
        display: flex;
        background-color: #FFD1E2 !important;
        border-top: #000 2px solid;
        z-index: 1;
    }

    .container-fluid{
        border-bottom: #000 2px solid;
    }

    .nav-ocultar .container-fluid .collapse ul li a{
        color: #000;
    }

    .navbar-dark .navbar-toggler{
        color: #000;
        background-color: #FF74A6;
    }

    .navbar-toggler{
        font-size: 1.50rem;
    }

    .color-a{
        background: linear-gradient(#ff006d, #ffbad4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        font-weight: 900;
        font-family:  'EB Garamond', serif;
        margin: auto;
    }
}

@media (max-width: 380px) {
    .navbar-brand{
        font-size: 40px;
    }
}

/* Estilos Main */

main{
    font-family: 'Playfair Display', serif;
    color: #000;
}

/* Estilos Footer */

footer{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: #fff;
}

#contenedor__icono_whatsaap{
    position: absolute;
}

#contenedor__icono_whatsaap #icono__whatsaap{
    font-size: 50px;
    margin-left: 15px;
    margin-top: 15px;
}

.contenedor__titulo{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    display: flex;
}

/* ########################################## ESTILOS INDEX #########################################################*/

/* Estilos  Section Presentacion */

.contenedor__secction__presentacion{
    display: flex;
    margin: 80px 50px 150px 50px;
    align-items: center;
    justify-content: center;
}

.caja__inicial{
    width: 40%;
    height: 400px;
    background: $blanco;
    text-align: center;
    box-shadow: 8px 7px 9px 4px rgba(0,0,0,0.47);
}

.caja__inicial h1{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 100px;
}

#imagen__inicial{
    width: 50%;
    height: 500px;
    object-fit: cover;
}

#boton__saber__mas{
    background-color: #eabaf6;
    padding: 15px;
    position: relative;
    top: 145px;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid $negro;
    text-decoration: none;
    color: $negro;
}

#boton__saber__mas:hover{
    background-color: #b7b6ff;
    color: #fff;
}

/*  Estilos section descripcion */

.contenedor__section__descripcion{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 50px;
    background-color: #b7b6ff;
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(500px,40%));
    justify-content: space-around;
    align-items: center;

    h2{
        text-align: center;
        text-decoration-line:underline;
        color: #ff006d;
        margin: 20px;
    }

    p{
        text-align: center;
        font-size: 20px;
    }

    #imagen__descripcion{
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 200px;
        display: block;
        margin: 0px auto;
        justify-self: center;
    }
}

/* Estilos Section Cuadros  */

.contenedor__seccion__cuadros{
    margin-bottom: 150px;
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-color: #ddbdfc;
    padding: 80px 80px 200px 80px;
}

.h2__cuadro{
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.cuadros__contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cuadro{
    background-color: transparent;
    width: 280px;
    height: 380px;
    border: 1px #000 solid;
    perspective: 1000px;
}

.cuadro__giro{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cuadro:hover .cuadro__giro {
    transform: rotateY(180deg);
}

.frente, .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.frente{

    .imagen__cuadro{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.atras{
    background-image: url(./imagenes/fondo-cuadro.svg);
    background-position: center;
    background-size: cover;
    color: #000;
    transform: rotateY(180deg);
    
    p{
        font-size: 25px;
        align-self: center;
        margin-top: 120px;
    }

    ul{
        list-style: none;

        li{
            font-size: 25px;
            margin: 60px 40px;
        }
    }
}

/* Responsive 1200px */

@media (max-width: 1200px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        height: 450px;
    }

    .caja__inicial{
        height: 350px;
    }

    .caja__inicial h1{
        top: 80px;
    }

    #boton__saber__mas{
        top: 120px;
    }

    #contenedor__h2__p{
        top: 60px;
    }
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 60%;
        grid-gap: 50px;
    }
}

/* Responsive 768px */

@media (max-width: 768px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        height: 400px;
    }

    .caja__inicial{
        padding: 10px;
    }
    
    .caja__inicial h1{
        top: 50px;
        font-size: 30px;
    }
    
    #boton__saber__mas{
        top: 100px;
    }
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 80%;
    }
    /* Seccion Cuadros */
    .contenedor__seccion__cuadros{
        margin-bottom: 0px;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .h2__cuadro{
        margin-bottom: 50px;
    }

    .cuadros__contenedor{
        flex-direction: column;
    }
    
    .cuadro{
        margin: 50px;
    }
}

/* Responsive 600px */

@media (max-width: 600px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        width: 50%;
        height: 400px;
    }

    .caja__inicial{
        width: 100%;
        padding: 10px;
    }
    
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 90%;
    }
}

/* Responsive 600px */

@media (max-width: 580px) {
    .contenedor__secction__presentacion{
        margin: 120px 50px 120px 50px;
    }

    .caja__inicial{
        h1{
            font-size: 30px;
        }
    }
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 95%;

        p{
            margin: 20px;
        }
    }
}

/* Responsive 480px */

@media (max-width: 480px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        width: 80%;
        height: 300px;
    }

    .contenedor__secction__presentacion{
        display: block;
        margin: 90px 50px 60px 50px;
        height: 500px;
    }    

    .caja__inicial{
        position: relative;
        width: 80%;
        height: 300px;
        left: 80px;
        bottom: 140px;
    }

    .caja__inicial h1{
        top: 50px;
    }

    #boton__saber__mas{
        top: 85px;
    }
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 80%;
        grid-template-columns: repeat( auto-fit,minmax(400px,40%));

        h2{
            font-size: 30px;
        }

        p{
            margin: 10px 50px;
        }
    }
}

/* Responsive 450px */

@media (max-width: 450px) {
    .contenedor__section__descripcion{
        width: 90%;
        grid-template-columns: repeat( auto-fit,minmax(400px,40%));

        p{
            margin: 10px 50px;
        }

        #imagen__descripcion{
            height: 250px;
            width: 250px;
        }
    }
}

/* Responsive 413px */

@media (max-width: 413px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        width: 90%;
    }

    .contenedor__secction__presentacion{
        margin: 90px 50px 60px 20px;
    }    

    .caja__inicial{
        width: 90%;
        left: 50px;
    }

    .caja__inicial h1{
        top: 40px;
        font-size: 30px;
    }

    #boton__saber__mas{
        top: 80px;
    }
}

/* Responsive 400px */

@media (max-width: 400px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        height: 250px;
    }

    .contenedor__secction__presentacion{
        height: 440px;
        margin: 90px 50px 60px 30px;
    }    

    .caja__inicial{
        height: 250px;
        left: 40px;
        bottom: 120px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .caja__inicial h1{
        top: 40px;
        font-size: 25px;
    }

    #boton__saber__mas{
        top: 70px;
        font-size: 18px;
        padding: 10px;
    }
     /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        grid-template-columns: repeat( auto-fit,minmax(300px, 40%));

        p{
            margin: 0;
            font-size: 20px;
        }
    }
}

// Responsive 320px

@media (max-width: 320px) {
    /* Seccion Presentacion */
    #imagen__inicial{
        width: 100%;
        height: 220px;
    }

    .contenedor__secction__presentacion{
        margin: 90px 50px 30px 15px;
        width: 80%;
        height: 500px;
    }

    .caja__inicial{
        width: 100%;
        height: 250px;
        left: 30px;
        bottom: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .caja__inicial h1{
        top: 40px;
    }

    #boton__saber__mas{
        top: 80px;
        padding: 10px;
    }
    /*  Estilos section descripcion */
    .contenedor__section__descripcion{
        width: 95%;
        grid-template-columns: repeat( auto-fit,minmax(300px,40%));

        p{
            margin: 10px 0px;
        }

        #imagen__descripcion{
            width: 220px;
            height: 220px;
        }
    }
}

/* #######################################  Estilos Pagina Servicios ########################################## */

.grilla_servicios1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(3,30%);
    grid-template-columns: repeat(auto-fit,minmax(300px, 30%));
    justify-content: center;
    margin-top: 100px;
    grid-gap: 30px;
}

.grilla_servicios2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2,500px);
    grid-template-columns: repeat(auto-fit,minmax(300px, 30%));
    justify-content: center;
    grid-gap: 30px;
    margin: 30px 0px 150px 0px;
}

.grilla_servicios1 div{
    text-align: center;
}

.grilla_servicios2 div{
    text-align: center;
}

.tarjeta{
    background-color: #ef94d5;
    border-radius: 20px;
}

.servicios__imagen__tarjeta{
    width: 100%;
    height: 40%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.tarjeta_contenedor_texto{
    margin-top: 50px;
    
    p{
        margin: 0px 20px;
    }
}

/* Responsive 600px */

@media (max-width: 600px) {
}
/* #######################################  Estilos Pagina Contacto ########################################## */

.contacto__contenedor{
    width: 80%;
    height: 100px;
    background-color: #b7b6ff;
    margin: 50px auto;
    border: 2px #000 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__contenedor div p{
    font-weight: 900;
    font-size: 25px;
}

.contacto__contenedor div i{
    font-size: 50px;
    margin-right: 40px;
}

#contacto__form__h2{
    margin-top: 50px;
}

.contacto__label{
    margin-top: 20px;
}

.contacto__form {
    width: 400px;
    background-color: #ff70a5;
    padding: 30px;
    margin: 100px auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.contacto__form h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

button{
    padding: 10px;
    border-radius: 20px;
    background-color: #b7b6ff;
}

.contacto__input {
    width: 100%;
    background: #DC64C1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    font-family: 'Playfair Display', serif;
}

.contacto__form p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.contacto__form a {
    color: white;
    text-decoration: none;
}

.contacto__form a:hover {
    color: white;
    text-decoration: underline;
}

/* Responsive 480px */

@media (max-width: 480px) {
    .contacto__contenedor{
    padding: 30px;
    }
}

/* Responsive 320px */

@media (max-width: 320px) {
    .contacto__contenedor{
        width: 100%;
        padding: 70px 30px;
        }
    
    .contacto__form {
        width: 300px;
    }
}
/* #################################### Estilos Galeria ########################################## */

.galeria__contenedor__h1{
    width: 50%;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.galeria__section__presentacion{
    position: relative;
    width: 100%;
    height: 620px;
    margin-top: 80px;
    box-sizing: border-box;
}

#galeria__fondo__decoracion{
    width: 100%;
    height: 250px;
    background-color: #A86BFF;
}

.contenedor__galeria__grid{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "img1 img2 img3 img4";
    grid-template-columns: repeat(4, 20%);
    grid-template-columns: repeat(auto-fit,minmax(200px,20%));
    grid-template-rows: 300px;
    grid-column-gap: 35px;
    position: relative;
    bottom: 200px;
    box-sizing: border-box;
}

#galeria__imagen1{
    grid-area: img1;
    background-image: url(./imagenes/galeria1.jpg);
    background-size: cover;
    background-position: center;
}

#galeria__imagen2{
    grid-area: img2;
    background-image: url(./imagenes/galeria6.jpg);
    background-size: cover;
    background-position: center;
}

#galeria__imagen3{
    grid-area: img3;
    background-image: url(./imagenes/galeria3.jpeg);
    background-size: cover;
    background-position: center;
}

#galeria__imagen4{
    grid-area: img4;
    background-image: url(./imagenes/galeria14.jpg);
    background-size: cover;
    background-position: center;
}

.galeria__section__presentacion article{
    width: 70%;
    height: 180px; 
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #FFCADE;
    font-weight:900;
    position: absolute;
    bottom: 150px;
    left: 200px;
    box-sizing: border-box;
}

.galeria__section__presentacion article a{
    text-decoration: none;
    color: #fff;
    background-color: #A86BFF;
    padding: 10px;
    border-radius: 50px;
}

.galeria__article__contenedor{
    position: relative;
}

.galeria__section__contenedor{
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #A86BFF;
}

.galeria__section__contenedor h2{
    padding: 20px;
    font-size: 45px;
}

.contenedor__grid__divs{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "img5 img6 img7"
    "img8 img9 img10"
    "img11 img12 img14";
    grid-template-columns: repeat(auto-fit,minmax(300px,30%));
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

#galeria__imagen5{
    grid-area: img5;
    background-image: url(./imagenes/galeria5.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen6{
    grid-area: img6;
    background-image: url(./imagenes/galeria6.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen7{
    grid-area: img7;
    background-image: url(./imagenes/galeria7.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen8{
    grid-area: img8;
    background-image: url(./imagenes/galeria8.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen9{
    grid-area: img9;
    background-image: url(./imagenes/galeria9.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen10{
    grid-area: img10;
    background-image: url(./imagenes/galeria10.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen11{
    grid-area: img11;
    background-image: url(./imagenes/galeria11.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen12{
    grid-area: img12;
    background-image: url(./imagenes/galeria12.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen13{
    grid-area: img13;
    background-image: url(./imagenes/galeria13.jpg);
    background-position: center;
    background-size: cover;
}

#galeria__imagen14{
    grid-area: img14;
    background-image: url(./imagenes/galeria14.jpg);
    background-position: center;
    background-size: cover;
}

.galeria__section__contenedor h2{
    margin: 10px;
    text-align: center;
}

/* Responsive 768px */

@media (max-width: 768px) {
    .galeria__section__presentacion article{
        left: 100px;
    }
}

/* Responsive 600px */

@media (max-width: 600px) {
    .galeria__section__contenedor{
        width: 90%;
        height: auto;
        margin: 120px auto;
        background-color: #A86BFF;
    }
}

/* Responsive 480px */

@media (max-width: 480px) {
    .galeria__section__presentacion article{
        left: 70px;
    }

    .galeria__section__contenedor{
        margin: 200px auto;
    }
}

/* Responsive 320px */

@media (max-width: 320px) {
    .galeria__section__contenedor{
        margin: 600px auto 0 auto;
        width: 100%;
    }
}
/* #################################### Estilos Agenda Cita ##################################### */

#calendario{
    margin-top: 100px;
    width: 80%; 
    height: 600px;
}

.agenda__section__contenedor{
    width: 80%;
    height: 100%;
    margin: auto;
}

.agenda__section__contenedor h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form__agenda{
    width: 40%;
    height: 100%;
    margin: 50px auto;
    background-color: #cfbaf0;
    border-radius: 20px;
    padding: 50px;
    font-size: 20px;
}

#carouselExampleIndicators{
    width: 50%;
    height: 100%;
    margin: 100px auto;
}

/* Responsive 600px */

@media (max-width: 600px) {
    #calendario{
        height: 400px;
    }
}

/* Responsive 480px */

@media (max-width: 480px) {
    .form__agenda{
        width: 70%;
    }
}

/* Responsive 320px */

@media (max-width: 320px) {
    #calendario{
        width: 100%;
    }

    .form__agenda{
        width: 90%;
    }
}